.panel {
  &__wrapper {
    width: 50%;
    height: 40rem;
    background-color: #FFFFFF;
    padding: 1rem;
    transition: background-color .4s ease-out;


    &--no-show {
      background-color: #EEEEEE;
      transition: background-color .4s ease-in;
    }
  }

  &__content {
    opacity: 1;
    transition: opacity .2s ease-out;
    &--no-show {
      transition: opacity .2s ease-in;
      opacity: 0;
    }
  }
}