.header {
  &__wrapper {
    display: flex;
    width: 100%;
    height: 8rem;
    background: #EEEEEE;
    color: black;
    font-size: 1.5em;
    border: 3px solid black;
    > div {
      display: inherit;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 100%;
    }
  }

  &__content {
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    &--title {
      font-size: 1.2rem;
    }
    &--percentage {
      font-size: 2.4rem;
      &:after {
        content: '%';
      }
    }
  }

  &__button-cell {
    > button {
      cursor: pointer;
    }
  }
}